@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    /* background-color: #f9f9f9; */
    font-family: "Montserrat";
    color:#2CB2EA;
  }

  head {
      /* background-color: #f9f9f9; */
  }

#app {
    /* background-color: #f9f9f9; */
}

  #logo {
      top: 40px;
      /* float: left; */
      padding-top: 15px;
      padding-left: 20px;
  }

  #nav {
      background-color: #f9f9f9;
      text-align: right; 
      position: sticky;
      top: 0px;
      color:#2CB2EA;
      padding-bottom: 20px;
      padding-right: 130px;
      margin-bottom: 30px;
      border-bottom: 1px solid #2CB2EA;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .nav-links a{
      align-items: center;
      color: #2CB2EA;
  }

  #app {
      color:#2CB2EA;
  }

  .card {
      margin: auto;
  }

  .home {
      margin: auto;
  }

  .feed {
      margin:auto;
  }

  @media screen and (max-width: 425px) {
    #nav {
        background-color: white;
        text-align: right; 
        position: sticky;
        top: 0px;
        color:#2CB2EA;
        padding-bottom: 20px;
        padding-right: 10px;
        margin-bottom: 30px;
        border-bottom: 1px solid #2CB2EA;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}