@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    background-color: white;
    font-family: "Montserrat";
  }

  #logo {
      width: 100px;
  }

  #nav {
      background-color: white;     
  }

  .card {
      margin: auto;
  }

  .home {
      margin: auto;
  }
